/* Request: https://forum.remnote.io/t/help-change-background-color-with-windowed-panes/9735 */

body,
.tile__document,
.document-header-top-bar,
.mosaic-window-toolbar,
.document--narrow,
#document-sidebar,
.navigation-bar,
.bg-white,
.content__page {
	background: var(--my-background-color) !important;
}
.mosaic-drop-target { /* Fix focus mode */
    background: var(--my-background-color);
}

/* Fix scroll bar */
::-webkit-scrollbar-track {
    background: var(--my-background-color);
}
::-webkit-scrollbar-thumb {
	border: 4px solid var(--my-background-color);
}
::-webkit-scrollbar {
    background-color: var(--my-background-color);
}
