/* Normal */
.portal-tree-node-box {
	background-color: #ddffff;
	/*padding: 15px 20px;*/
    border-radius: 12px;
    border-bottom: 1px solid #B3C3FF!important;
}

/* Size of Vertical Line */
.portal-tree-node-box:before{
	width: 5px!important;
}

/* When you put cursor on content of portal */
.portal-tree-node-box--focused {
	border-left: 5px solid #B0CCCC!important;
	background-color: #B8DFFC;
}

/* When you selected the portal */
.portal-tree-node-box--selected {
	border-left: 6px solid orange!important;
	background-color: #bfff00;
	border-bottom: 2px solid orange!important;
}