/* Put code between /* */ for disable any part you do not need */

/* Background color of Portal */
.portal-tree-node-box {
	background-color: #ddffff;
}

/* Size of Vertical Line */
.portal-tree-node-box:before{
	width: 5px!important;
}

/* Focused Portal */
.portal-tree-node-box--focused {
	border-left: 5px solid #B0CCCC!important;
	background-color: #B8DFFC;
}

/* Selected Portal */
.portal-tree-node-box--selected {
	border-left: 6px solid orange!important;
	background-color: #bfff00;
}